<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8" />
    <title>Dwell</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="side">
          <h1>Dwell</h1>
          <h2>Hi Luke</h2>
          <ul class="links">
            <li><a href="#" class="selected" data-metric="visits">Social Life</a></li>
            <li><a href="#" data-metric="pageviews">Jobs</a></li>
            <li><a href="#" data-metric="conversions">Property</a></li>
          </ul>
          <div class="stats">
            <ul data-metric="visits">
              <li>
                <div class="key">Top Companies</div>
                <div class="val">356</div>
              </li>
              <li>
                <div class="key">Average</div>
                <div class="val">50.9</div>
              </li>
              <li>
                <div class="key">Change</div>
                <div class="val">+122.2%</div>
              </li>
            </ul>
            <ul data-metric="pageviews">
              <li>
                <div class="key">Total Pageviews</div>
                <div class="val">468</div>
              </li>
              <li>
                <div class="key">Average</div>
                <div class="val">66.9</div>
              </li>
              <li>
                <div class="key">Change</div>
                <div class="val">+16.7%</div>
              </li>
            </ul>
            <ul data-metric="conversions">
              <li>
                <div class="key">Total Conversions</div>
                <div class="val">456</div>
              </li>
              <li>
                <div class="key">Average</div>
                <div class="val">65.1</div>
              </li>
              <li>
                <div class="key">Change</div>
                <div class="val">-47.4%</div>
              </li>
            </ul>
          </div>
          <ul>
            <li>
              <div class="key">Range</div>
              <div class="val">7 days</div>
            </li>
            <li>
              <div class="key">Timezone</div>
              <div class="val">PDT</div>
            </li>
            <li>
              <div class="key">Spirit Animal</div>
              <div class="val">Duck</div>
            </li>
          </ul>
        </div>
        <div class="main">
          <ul>
            <li class="active">
              <article tabindex="0" data-metric="visits">
                <div class="area">
                  <div class="lines">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="data visits">
                    <dl>
                      <dt>Uber</dt>
                      <dd>36</dd>
                    </dl>
                    <dl>
                      <dt>Google</dt>
                      <dd>44</dd>
                    </dl>
                    <dl>
                      <dt>Facebook</dt>
                      <dd>52</dd>
                    </dl>
                    <dl>
                      <dt>GrubHub</dt>
                      <dd>32</dd>
                    </dl>
                    <dl>
                      <dt>Amazon</dt>
                      <dd>44</dd>
                    </dl>
                    <dl>
                      <dt>Apple</dt>
                      <dd>68</dd>
                    </dl>
                    <dl>
                      <dt>TGIF</dt>
                      <dd>80</dd>
                    </dl>
                  </div>
                </div>
                <h1>Visits</h1>
              </article>
            </li>
            <li>
              <article tabindex="0" data-metric="pageviews">
                <div class="area">
                  <div class="lines">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="data pageviews">
                    <dl>
                      <dt>3/8</dt>
                      <dd>72</dd>
                    </dl>
                    <dl>
                      <dt>3/9</dt>
                      <dd>56</dd>
                    </dl>
                    <dl>
                      <dt>3/10</dt>
                      <dd>64</dd>
                    </dl>
                    <dl>
                      <dt>3/11</dt>
                      <dd>48</dd>
                    </dl>
                    <dl>
                      <dt>3/12</dt>
                      <dd>64</dd>
                    </dl>
                    <dl>
                      <dt>3/13</dt>
                      <dd>80</dd>
                    </dl>
                    <dl>
                      <dt>3/14</dt>
                      <dd>84</dd>
                    </dl>
                  </div>
                </div>
                <h1>Pageviews</h1>
              </article>
            </li>
            <li>
              <article tabindex="0" data-metric="conversions">
                <div class="area">
                  <div class="lines">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="data conversions">
                    <dl>
                      <dt>3/8</dt>
                      <dd>76</dd>
                    </dl>
                    <dl>
                      <dt>3/9</dt>
                      <dd>88</dd>
                    </dl>
                    <dl>
                      <dt>3/10</dt>
                      <dd>72</dd>
                    </dl>
                    <dl>
                      <dt>3/11</dt>
                      <dd>68</dd>
                    </dl>
                    <dl>
                      <dt>3/12</dt>
                      <dd>52</dd>
                    </dl>
                    <dl>
                      <dt>3/13</dt>
                      <dd>60</dd>
                    </dl>
                    <dl>
                      <dt>3/14</dt>
                      <dd>40</dd>
                    </dl>
                  </div>
                </div>
                <h1>Conversions</h1>
              </article>
            </li>
          </ul>
        </div>
      </div>
      <div class="instagram-wrapper" style="clear: both;position: absolute;bottom: -40%;"></div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script>
              initInstagramFeed = (function(){
   		var igID = '10054954'; //lukeharby
	    var igClientID = '37f944b55b27422d973fdea0e1c803cb';
	    var igClientSecret = '1897b131caa24988b6d61ea30531353a';
	    var count = 33; // weird max image?
	    var accessToken = '10054954.1677ed0.c830fee08ea9418a8fa8a795d49364ac';
	    $.ajax({
            type: "GET",
            dataType: "jsonp",
            cache: false,
            url: "https://api.instagram.com/v1/users/" + igID + "/media/recent/?access_token=" + accessToken + '&count=' + count,
			success: function(data) {
				for (var i = 0; i < count; i++) {
					$(".instagram-wrapper").append("<a target='_blank' href='" + data.data[i].link +"'><img src='" + data.data[i].images.thumbnail.url +"' /></a>");
				}
				console.log(data);
			},
			error: function(){
				console.log('Something went wrong', data);
			}
		});
    }());
    
    console.log(initInstagramFeed)
      </script>
</body>

</html>